<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=0">
  <title>Cheeved IT!</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

  <!-- Header -->

  <header>
    <div class="container">
      <div class="logo-box">
        <div class="logo">
          <i class="fa fa-line-chart"></i>
        </div>
        <h1>Cheeved IT!</h1>
        <span>Achievement Tracker for Life</span>
      </div>

      <!-- Navigation -->

      <div class="user-ctrl">
        <nav class="main-nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/achievements">Achievements</a></li>
            <li><a href="/cheevers">Cheevers</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>


  {% block content %}
  {% endblock %}



  <!-- Footer -->

  <footer class="container">
    <nav class="footer-nav">
      <ul>
        <li><a href="">About</a></li>
        <li><a href="">Help</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </nav>

    <p class="copyright">Copyright 2016 Learned IT! LLC. All rights reserved.</p>

    <nav class="social-nav">
      <ul>
        <li>
          <a href="">
            <i class="fa fa-google"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </nav>
  </footer>
</body>
</html>